﻿@inject SignInManager<SuperKurs.Utilities.ApplicationUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <environment include="Development">

        <meta name="viewport" content="width=device-width" />
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    </environment>

    <environment exclude="Development">

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" />

        <meta name="viewport" content="width=device-width" />
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    </environment>

    @*<link href="~/css/site.css" rel="stylesheet" />*@

    <title>@ViewBag.Title</title>

</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <a class="navbar-brand" asp-action="index" asp-controller="home">

                <img src="~/images/2.jpg" height="30" width="30" />

            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="navbar-nav">

                    <li class="nav-item">

                        <a asp-action="index" asp-controller="home" class="nav-link">List</a>

                    </li>


                    <li class="nav-item">

                        <a asp-action="create" asp-controller="home" class="nav-link">Create</a>

                    </li>


                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">

                            <a asp-action="ListRoles" asp-controller="Administration" class="nav-link">Admin-Roles</a>

                        </li>

                        <li class="nav-item">

                            <a asp-action="ListUsers" asp-controller="Administration" class="nav-link">Admin-Users</a>

                        </li>

                    }
                </ul>

                <ul class="navbar-nav ms-lg-auto">

                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">

                            <a class="nav-link" asp-controller="Account" asp-action="ChangePassword">Change password</a>

                        </li>

                        <li class="nav-item">

                            <form method="post" asp-action="Logout" asp-controller="Account">



                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">

                                    Logout @User.Identity.Name

                                </button>

                            </form>

                        </li>


                    }
                    else
                    {

                        <li class="nav-item">

                            <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>

                        </li>

                        <li class="nav-item">

                            <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>

                        </li>

                    }



                </ul>

            </div>

        </nav>

        <div>
            @RenderBody()
        </div>
        @if (IsSectionDefined("Scripts"))
        {

            @RenderSection("Scripts", required: true)

        }

    </div>
</body>
</html>
