﻿@model LoginViewModel

@{ 
    ViewBag.Title = "User login";
}




<div class="row">

    <div class="col-md-6">

        <h1>Local account login</h1>

        <hr />

        <form method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">

                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>


            <div class="form-group">

                <div class="checkbox">

                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>

                </div>

            </div>

            <button class="btn btn-primary" type="submit">Login</button>

            <div>

                <a asp-action="ForgotPassword">Forgot password?</a>

            </div>

        </form>

    </div>

    <div class="col-md-6">

        <h1>External login</h1>
        
        <hr />

        @{ 

            if (Model.ExternalLogins.Count == 0)
            {

                <div>

                    No external logins configured

                </div>

            }
            else
            {

                <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">

                    <div>

                        @foreach (var provider in Model.ExternalLogins)
                        {

                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Login using your @provider.DisplayName account" style="width:auto">@provider.DisplayName</button>

                        }

                    </div>

                </form>

            }

        }

    </div>

</div>