﻿@model RegisterViewModel

@{ ViewBag.Title = "User registration";}


<h1>@ViewBag.Title</h1>

<div class="row">

    <div class="col-md-12">

        <form method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">

                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />

            </div>

            <button class="btn btn-primary" type="submit">Register</button>

        </form>

    </div>

</div>