﻿@model CreateRoleViewModel

@{ ViewBag.Title = "Create new role";}


<h1>@ViewBag.Title</h1>

<div class="row">

    <div class="col-md-12">

        <form method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">

                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>

            </div>

            <button class="btn btn-primary" type="submit">Create role</button>

        </form>

    </div>

</div>