﻿@model IEnumerable<SuperKurs.Utilities.ApplicationUser>

@{
    ViewBag.Title = "All users";
}

<h1>@ViewBag.Title</h1>

@if (Model.Any())
{

    <a class="btn btn-primary" style="width:auto" asp-action="Register" asp-controller="Account">Add new user</a>

    foreach (var user in Model)
    {

    <div class="card mb-3">

        <div class="card-header">

            User Id: @user.Id

        </div>

        <div class="card-body">

            <h5 class="card-title">@user.UserName</h5>

        </div>

        <div class="card-footer">

            <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id"> 

                <a class="btn btn-danger" style="width:auto" asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id" >Edit</a>


                <span id="confirmDeleteSpan_@user.Id" style="display:none">
                 
                    <span>Are you sure you want to delete this user?</span>
                    <button type="submit" class="btn btn-danger" style="width:auto">Yes</button>
                    <a href="#" class="btn btn-primary" onclick="confirmDelete('@user.Id', false)">No</a>
                
                </span>

                <span id="deleteSpan_@user.Id">

                    <a href="#" class="btn btn-danger" onclick="confirmDelete('@user.Id', true)">Delete</a>

                </span>


            </form>

        </div>

    </div>

    }

}
else
{

    <div class="card">

        <div class="card-header">

            No users created yet

        </div>

        <div class="card-body">

            <h5>Use the button below to creat new user</h5>

        </div>

        <div class="card-footer">

            <a class="btn btn-primary" style="width:auto" asp-action="Register" asp-controller="Account">Add new user</a>

        </div>

    </div>

}

@section Scripts{ 

    <script src="~/js/CustomScript.js"></script>

}