﻿@model List<UserRolesViewModel>

@{ 
    var userId = ViewBag.userId;
}


<form method="post">

    <div class="card">

        <div class="card-header">

            <h2>Manage user roles</h2>

        </div>

        <div class="card-body">

            @for(int i = 0; i < Model.Count; i++)
            {

            <div class="form-check m-1">

                <input type="hidden" asp-for="@Model[i].RoleId" />
                <input type="hidden" asp-for="@Model[i].RoleName" />
                <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                <label class="form-check-label" asp-for="@Model[i].IsSelected">@Model[i].RoleName</label>

            </div>

            }

        </div>

        <div class="card-footer">

            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-action="EditUser" asp-route-id="@userId" class="btn btn-primary" style="width:auto">Cancel</a>

        </div>

    </div>

</form>