﻿@model UserClaimsViewModel

<form method="post">

    <div class="card">

        <div class="card-header">

            <h2>Manage user claims</h2>

        </div>

        <div class="card-body">

            @for (int i = 0; i< Model.Cliams.Count; i++)
            {

                <div class="form-check m-1">

                    <input type="hidden" asp-for="@Model.Cliams[i].ClaimType" />
                    <input asp-for="@Model.Cliams[i].IsSelected" class="form-check-input">
                    <label class="form-check-label" asp-for="@Model.Cliams[i].IsSelected">@Model.Cliams[i].ClaimType</label>

                </div>

            }

            <div asp-validation-summary="All" class="text-danger"></div>
        
        </div>

        <div class="card-footer">

            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-primary" style="width:auto">Cancel</a>

        </div>

</div>

</form>