﻿@model HomeDetailsViewModel

@{

    ViewBag.Title = "Employee Details";
}

<h1>@Model.PageTitle</h1>
@{

    var employee = ViewData["Employee"] as SuperKurs.Models.Employee;
    var photoPath = "~/images/" + (Model.Employee.PhotoPath ?? "2.jpg");


}

<div class="row justify-content-center m-3">

    <div class="col-sm-8">

        <div class="card">

            <div class="card-header">

                <h1>@Model.Employee.Name</h1>

            </div>

            <div class="card-body text-center">

                <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                <h4>Employee ID: @Model.Employee.Id</h4>
                <h4>Email: @Model.Employee.Email</h4>
                <h4>Department: @Model.Employee.Department</h4>

            </div>

            <div class="card-footer text-center">

                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>

                <a asp-action="Edit" asp-controller="Home" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>

                <a asp-action="Delete" asp-controller="Home" asp-route-id="@Model.Employee.Id" class="btn btn-danger">Delete</a>

            </div>

        </div>

    </div>

</div>

@section Scripts{ 
    <script src="~/js/CustomScript.js"></script>
}