﻿@model EmployeeEditViewModel
@inject SuperKurs.Services.IEmployeeRespository _empRepository

@{
    ViewBag.Title = "Edit Employee";
}

@{


    var photoPath = "~/images/" + (Model.ExistingPhotoPath ?? "2.jpg");


}


<form asp-action="Edit" enctype="multipart/form-data" asp-controller="home" method="post" class="mt-3">

    <input hidden asp-for="Id" />
    <input hidden asp-for="ExistingPhotoPath" />


    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10"><input asp-for="Name" class="form-control" placeholder="Name"></div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10"><input asp-for="Email" class="form-control" placeholder="Email"></div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Department" class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-10"><select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" class="custom-select mr-sm-2"><option value="">Please select</option></select></div>
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" class="form-control custom-file-input">
                <label class="custom-file-label">Click here to change photo</label>
            </div>
        </div>

        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>


    <div class="form-group row col-sm-4 offset-4">    
    <img src="@photoPath" class="imageThumbnail" asp-append-version="true" />
    </div>


    <div asp-validation-summary="All" class="text-danger">



    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button class="btn btn-primary" type="submit">Update</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Cancel</a>
        </div>
    </div>





    <div class="form-group row">
        <div class="col-sm-10">
            Total employees count = @_empRepository.GetAllEmployees().Count()
        </div>
    </div>

</form>