﻿@model int

@{ 
    ViewBag.Title = "404 error";
}

<div class="alert-danger alert mt-1 mb-1">

    <h4>404 Not found error: </h4>
    <hr />
    <h5>

        Employee with Id = @Model cannot be found

    </h5>
</div>

<a asp-action="index" asp-controller="home" class="btn btn-outline-success">

    Click here to see list of all employees

</a>



