﻿@model IEnumerable<Employee>


@{

    ViewBag.Title = "Employee List";

}




<div class="card-deck">

@foreach (var employee in Model)
{

    var photoPath = "~/images/" + (employee.PhotoPath ?? "2.jpg");

    <div class="card m-3">
       
        <div class="card-header">

            <h3>@employee.Name</h3>

       </div>
        
        <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />

        <div class="card-footer text-center">

            <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.EncryptedId" class="btn btn-primary m-1">View</a>

            <a asp-action="Edit" asp-controller="Home" asp-route-id="@employee.Id" class="btn btn-primary m-1">Edit</a>

            <a asp-action="Delete" asp-controller="Home" asp-route-id="@employee.Id" class="btn btn-danger m-1">Delete</a>

        </div>

    </div>
}

</div>